.radio-red {
  border: 1px solid #ED515A !important;
}

.radio-red:checked {
  background-color: #ED515A !important;
}

.leftDiv{
    /* width: 45vw; */
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.inputBorder{
  border: 1px solid blue;
}